Django==3.2.3
django-cors-headers==3.7.0
django-cpf==0.1.0
django-filter==2.4.0
django-model-utils==4.1.1
django-phonenumber-field==5.1.0
djangorestframework==3.12.4
Markdown==3.3.4
phonenumberslite==8.12.23
gunicorn==20.1.0
whitenoise==5.2.0
django-environ==0.4.5